[submodule "deps/libmotioncapture"]
	path = deps/libmotioncapture
	url = https://github.com/IMRCLab/libmotioncapture.git
[submodule "deps/librigidbodytracker"]
	path = deps/librigidbodytracker
	url = https://github.com/IMRCLab/librigidbodytracker.git
