[submodule "externalDependencies/libobjecttracker"]
	path = externalDependencies/libobjecttracker
	url = https://github.com/USC-ACTLab/libobjecttracker.git
[submodule "externalDependencies/libmotioncapture"]
	path = externalDependencies/libmotioncapture
	url = https://github.com/USC-ACTLab/libmotioncapture.git
