<?xml version="1.0"?>
<launch>

  <node pkg="motion_capture_tracking" type="node" name="node" output="screen" >
    <rosparam>
      # Tracking
      motion_capture_type: "qualisys" # one of vicon,optitrack,qualisys,vrpn
      motion_capture_hostname: "localhost"
      object_tracking_type: "libobjecttracker" # one of motionCapture,libobjecttracker

      save_point_clouds_path: "" # leave empty to not write point cloud to file

      numMarkerConfigurations: 1
      markerConfigurations:
        "0":  # active marker deck
          numPoints: 4
          offset: [0.0, 0.0, 0.0]
          points:
            "0": [ 0.035, 0.000,0.000] # front
            "1": [ 0.000, 0.035,0.000] # left
            "2": [-0.035, 0.000,0.000] # back
            "3": [ 0.000,-0.035,0.000] # right

      numDynamicsConfigurations: 1
      dynamicsConfigurations:
        "0":
          maxXVelocity: 2.0
          maxYVelocity: 2.0
          maxZVelocity: 3.0
          maxPitchRate: 20.0
          maxRollRate: 20.0
          maxYawRate: 10.0
          maxRoll: 1.4
          maxPitch: 1.4
          maxFitnessScore: 0.001

      objects:
        - name: crazyflie
          initialPosition: [0.0,0.0,0.0]
          markerConfiguration: 0
          dynamicsConfiguration: 0

    </rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_capture_tracking)/launch/rviz.rviz"/>

</launch>
